body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}
.button {
  width: 100px;
  height: 40px;
  margin-left: 1rem;
  border-radius: 5%;
  box-shadow: 1px 1px 1px gainsboro;
  font-family: 'Courier New', Courier, monospace;
  background-color: hsl(148, 55%, 54%);
}

.button:hover {
  background-color: hsl(148, 47%, 54%);
}

.refresh-btn {
  background-color: ivory;
}

.refresh-btn:hover {
  background-color: whitesmoke;
}

.start {
    background-color: tomato;
    color: white;
}

.start:hover {
    background-color: red;
}

.refresh-btn > img{
  margin-top: 2px;
}

.invite {
    display: flex;
    margin: 1rem;
}

.codenames {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 15vh);
    grid-gap: 1rem;
    margin: 1rem;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: .25rem;
  box-shadow: inset 1px 1px 1px 1px lightgray;
  box-sizing: border-box;
}

.codenames > .blue {
  background-color: #34a5eb;
}

.codenames > .red {
    background-color:#eb4934;
}

.codenames > .neutral {
    background-color: orange;
    color: black;
}

.codenames > .black {
    background-color: gray;
    color: white;
}

.currentTeam.blue {
    color: #34a5eb;
}

.currentTeam.red {
    color: #eb4934 ;
}

.word:hover {
    transition: border-color .25s ease-in;
    border-color: white;
    border-width: 2px;
}

.info {
  display: flex;
}
